<div class="footer2">
    <div class="footer_down">
        <div class="w_auto">
        	<div class="foot_list">
                <dl>
                	<dt>关于睿能</dt>
                    <dd><a title="公司概况" href="#">公司概况</a></dd>
                    <dd><a title="使命和价值观" href="#">使命和价值观</a></dd>
                    <dd><a title="公司历史" href="#">公司历史</a></dd>
                    <dd><a title="荣誉资质" href="#">荣誉资质</a></dd>
                    <dd><a title="组织机构" href="#">组织机构</a></dd>
                </dl>
                <dl class="pro_hidden">
                	<dt>产品中心</dt>
                    <dd><a title="针织横机电脑控制系统" href="#">针织横机电脑控制系统</a></dd>
                    <dd><a title="伺服驱动器" href="#">伺服驱动器</a></dd>
                    <dd><a title="HID电子镇流器" href="#">HID电子镇流器</a></dd>
                </dl>
                <dl>
                	<dt>新闻中心</dt>
                    <dd><a title="公司新闻" href="#">公司新闻</a></dd>
                    <dd><a title="行业新闻" href="#">行业新闻</a></dd>
                    <dd><a title="活动及培训" href="#">活动及培训</a></dd>

                </dl>
                <dl>
                	<dt>人力资源</dt>
                    <dd><a title="校园招聘" href="#">校园招聘</a></dd>
                    <dd><a title="社会招聘" href="#">社会招聘</a></dd>
                    <dd><a title="薪酬福利" href="#">薪酬福利</a></dd>
                    <dd><a title="员工风采" href="#">员工风采</a></dd>
                </dl>
                <div class="foot_cont">
                	<p class="fc_title">联系我们</p>
                    总部地址: 福建省福州市鼓楼区铜盘路软件大道89号软件园C区8888号<br />
                    电话: 0591-88888888<br />
                    传真: 0591-88888888<br />
                    邮箱: 88888888@88888888.cn(销售)<br />
                    <p style="padding-left:31px">88888888@88888888.cn(技术支持)</p>
                </div>
                <div class="foot_wx">
                	<p>关注我们</p>
                    <img src="__STATIC__/images/qrcode2.gif">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="foot_share" style="height:33px;">
            </div>
            <div class="clearfix"></div>
            <div class="foot_over">
                <p>Copyright © 2018 福建睿美科技股份有限公司 版权所有 | 闽ICP备013123123123号 | <a target="_blank" href="#" style="color:#fff;"><img src="__STATIC__/images/police.png" style="position:relative;top:4px;"/>闽公网安备 闽ICP备013123123123号</a></p>
            </div>
        </div>
    </div>

</div>
