<div class="head">
    <div class="w_auto">
        <div class="logo-cont">
			<div class="logo"><a href="{:U('Index/index')}"></a></div>
			<span class="logo-gp">股票简称: <b>睿美科技</b>&nbsp;&nbsp;&nbsp;股票代码: <b>600000</b></span>
		</div>
        <div class="nav" style="padding-top:10px;">
            <ul id="myHeadMenu">
       		    <li><a  href="{:U('Index/about')}">关于我们</a></li>
	            <li><a  href="{:U('Index/product')}">产品中心</a></li>
	            <li><a  href="{:U('Article/lists')}">新闻中心</a></li>
	            <li><a  href="{:U('Index/contact')}">联系我们</a></li>
            </ul>
        </div>

    </div>
	<div class="clearfix"></div>
</div>
