<!DOCTYPE html>
<html>
<include file="Common/header"/>
<body>

<include file="Common/nav"/>

<div class="leve">
    <div class="w_auto">
        <div class="leve_left">
            <div class="cont_list">
            	<ul>
                	<li><a href="{:U('Index/index')}"><i>首页</i><span></span></a></li>
                    <li><a class="hover2" title="公司概况" href="{:U('Index/about')}"<i>公司概况</i><span></span></a></li>
                </ul>
            </div>
        </div>
        <div class="leve_right">
        	<div class="leve_cont">
            <div class="cont_head">
                	<p>Profile</p>
                    <span>{$info.title}</span>
                </div>
                {$info.content}
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<include file="Common/footer2"/>
</div>
</body>
</html>
