<!---#header-page-->
<include  file="Common:header"/>
<!-- #page-title -->
<include  file="Common:curpos"/>
<div id="page-content">
    <div class="example-code">

        <div class="content-box box-toggle">
            <h3 class="content-box-header ui-state-default">
                <div class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-angle-right"></i>
                </div>

                <span class="float-left">系统说明</span>

            </h3>
            <div class="content-box-wrapper">
                <volist name="server_info" id="vo">
                    <p> {$key} ： <span>{$vo}</span> </p>
                </volist>
                <volist name="info" id="item" >
                    <p>{$k} ：{$item}</p>
                </volist>


            </div>
        </div>
    </div>
</div>
